<div class="container" *ngIf="taskersFetched">
    <div *ngFor="let tasker of taskerList">
        <mat-card class="tasker-card" >
            <mat-card-header>
                <mat-card-title>{{tasker.email}}</mat-card-title>
                <mat-card-subtitle>{{tasker.id}}</mat-card-subtitle>
            </mat-card-header>
    
            <mat-card-content>
                <p>
                    More details
                </p>
            </mat-card-content>
            <mat-card-actions >
                <button mat-raised-button color="accent" *ngIf="alreadyAssigned && tasker.id == serviceRequest.assignedTaskerId" (click)="unassignTasker()">Un-Assign</button>
                <button mat-raised-button color="primary" *ngIf="!alreadyAssigned" (click)="assignTasker(tasker.id)"> Assign </button>
            </mat-card-actions>
        </mat-card>
        &nbsp;
    </div>


    <br><br>
    <mat-divider></mat-divider>
    <br><br>
    <button mat-raised-button color="primary" (click)="closeDialog()">
        Close
    </button>

</div>