<div class="center-div-elements" >
    <h2>Enter your phone number below</h2>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Cellphone number</mat-label>
        <span matPrefix>+92 &nbsp;</span>
        <input type="tel" matInput [(ngModel)]="phoneNumber" placeholder="321-4567123">
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <br>
    
    <br>
    <h4>We will send you a confirmation SMS.</h4>
    <br>

    <button mat-raised-button (click)="cancelPhoneVer()"> Cancel </button> &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary"> Send code </button>
    <br>

</div>

