<div class="dark-section">
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Company</h1>
                <mat-divider></mat-divider>
                <br>
                <p>
                    <button mat-raised-button routerLink="/about">

                        About Us
                    </button>
                </p>
                <p>
                    <button mat-raised-button routerLink="/privacy">

                        Privacy Policy
                    </button>
                </p>
                <p>
                    <button mat-raised-button routerLink="/terms">

                        Terms of Service
                    </button>
                </p>
            </div>
            <div class="col-sm">
                <h1>Social Media</h1>
                <mat-divider></mat-divider> <br>
                <p>
                    <a href="https://www.facebook.com/iwork.pk" target="_blank">
                        <button mat-raised-button>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            &nbsp;
                            Facebook
                        </button>
                    </a>
                </p>
                <p>
                    <a href="https://www.facebook.com/iwork.pk" target="_blank">
                        <button mat-raised-button>
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            &nbsp;
                            Instagram
                        </button>
                    </a>
                </p>
                <p>
                    <a href="https://www.facebook.com/iwork.pk" target="_blank">
                        <button mat-raised-button>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            &nbsp;
                            Twitter
                        </button>
                    </a>
                </p>

            </div>
            <div class="col-sm">
                <h1>Contact</h1>
                <mat-divider></mat-divider><br>
                <p>0300-2121222</p>
                <p>support@iwork.pk</p>
            </div>
        </div>
    </div>
    <br><br>
</div>