<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async)}" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <br><br>
    <mat-nav-list>

      <a mat-list-item routerLink="admin/queue" *ngIf="loggedIn && userRole == 'ROLE_ADMIN'">
        <mat-icon>pending_actions</mat-icon>
        <span class="icon-spacer"></span>
        Request Queue
      </a>
      <br>
      <a mat-list-item routerLink="admin/manage" *ngIf="loggedIn && userRole == 'ROLE_ADMIN'">
        <mat-icon>miscellaneous_services</mat-icon>
        <span class="icon-spacer"></span>
        Management Console
      </a>
      
      <div class="vertical-bottom">
        <mat-divider></mat-divider>
        <br>
        <a mat-list-item>
          <i class="fa fa-android" aria-hidden="true"></i>
          <span class="icon-spacer"></span>
          Android App
        </a>

        <a mat-list-item>
          <i class="fa fa-apple" aria-hidden="true"></i>
          <span class="icon-spacer"></span>
          iOS App
        </a>

      </div>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a routerLink="/">
        <img src="../../assets/logo.png" alt="">
      </a>
      <span class="toolbar-spacer"></span>

      <button mat-raised-button *ngIf="!(isHandset$ | async)">
        <i class="fa fa-play" aria-hidden="true"></i>
        &nbsp;
        Android
      </button>

      &nbsp;
      <button mat-raised-button *ngIf="!(isHandset$ | async)">
        <i class="fa fa-apple" aria-hidden="true"></i>
        &nbsp;
        Apple
      </button>

      &nbsp;
      <a routerLink='/login' *ngIf="!loggedIn">
        <button mat-raised-button color="primary">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          &nbsp;
          Login
        </button>
      </a>

      <!--ADMIN Nav Bar-->
      <a routerLink="admin/queue" *ngIf="!(isHandset$ | async)">
        <button mat-button color="primary" *ngIf="loggedIn && userRole == 'ROLE_ADMIN'">
          <mat-icon>pending_actions</mat-icon>
          Request Queue
        </button>
      </a>
      <a routerLink="admin/manage" *ngIf="!(isHandset$ | async)">
        <button mat-button color="primary" *ngIf="loggedIn && userRole == 'ROLE_ADMIN'">
          <mat-icon>miscellaneous_services</mat-icon>
          Management Console
        </button>
      </a>
      &nbsp;&nbsp;


      <button mat-stroked-button *ngIf="loggedIn" [matMenuTriggerFor]="beforeMenu">
        <mat-icon>person</mat-icon>

      </button>

      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <br>

        <button mat-menu-item>
          <mat-icon>admin_panel_settings</mat-icon>
          {{username}}
        </button>

        <br><br>
        <mat-divider></mat-divider>
        <br>
        <button mat-menu-item>
          <mat-icon color="primary">account_box</mat-icon>
          Profile
        </button>
        <button mat-menu-item>
          <mat-icon color="primary">history</mat-icon>
          History
        </button>
        <button mat-menu-item>
          <mat-icon color="primary">settings_applications</mat-icon>
          Settings
        </button>

        <br>
        <mat-divider></mat-divider>
        <br>

        <button mat-menu-item (click)="logout()">
          <mat-icon color="accent">exit_to_app</mat-icon>
          Logout
        </button>

      </mat-menu>


    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>