<div class="container">
    <br>
    <div class="row">
        <br><br> <br> <br><br>
        <div class="col-sm">
            <br><br>
            <img src="../../../../assets/about.png" alt="">
            <br><br>
        </div>
        <div class="col-sm">
            <br><br>
            <h2 style="color: #959595;">Who we are?</h2> <br>
            <h1 style="font-size: xx-large; color: #373737;">Helping you connect to the right professional</h1>
            <br><br>

            <h3 style="color:#494949;">
                Our platform serves over a dozen types of services to start with. We assign our taskers to get your work
                done.
            </h3>

            <h3 style="color:#494949;">
                We are constantly improving our processes and business model to make sure our platform is de-facto for
                getting your services.
            </h3>

            <br><br>
        </div>



    </div>
    <br><br>

    <div class="center-div-elements">
        <h1>Our core values</h1>
    </div>
    <br>
    <mat-divider></mat-divider>
    <div class="row">
        <br><br>

        <div class="col-sm">
            <br><br>
            <div class="example-button-container">
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>
            <br>
            <h1 style="font-size: x-large; color: #373737;">Maintain customer-centered mindset</h1>

            <h3 style="color:#494949;">
                Our platform serves over a dozen types of services to start with. We assign our taskers to get your work
                done.
            </h3>



            <br><br>
        </div>
        <div class="col-sm">
            <br><br>
            <div class="example-button-container">
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>insights</mat-icon>
                </button>
            </div>
            <br>
            <h1 style="font-size: x-large; color: #373737;">Learn, grow, give</h1>

            <h3 style="color:#494949;">
                Our platform serves over a dozen types of services to start with. We assign our taskers to get your work
                done.
            </h3>



            <br><br>
        </div>
        <div class="col-sm">
            <br><br>
            <div class="example-button-container">
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>group</mat-icon>
                </button>
            </div>
            <br>
            <h1 style="font-size: x-large; color: #373737;">Focus on community</h1>

            <h3 style="color:#494949;">
                Our platform serves over a dozen types of services to start with. We assign our taskers to get your work
                done.
            </h3>



            <br><br>
        </div>







    </div>
</div>

<app-footer></app-footer>