<div>
    <div class="container">
        <br><br>
        Terms of Use

        These Terms of Use (“Terms”) govern the access or use by you, an individual, firm or entity ("Users", “you” or
        “your”), of websites, content and services (“Services”) made available by iwork, a company existing under the
        laws of Pakistan (hereinafter referred to as “iwork”, “we”, “us” or “our”).
        These Terms govern your use of iwork’s application, website, call center and technology platform (collectively,
        “iwork Platform”).
        Please read these terms carefully before accessing or using the iwork Platform. If you do not agree to be bound
        by the terms and conditions of these terms, you may not use or access the iwork Platform.

        1. Contractual Relationship
        • Your acceptance, use or access to the Iwork Platform and/or the Services offered thereby constitutes your
        agreement to be bound by these Terms, without any condition or reservation, which establishes a contractual
        relationship between you and Iwork (“Agreement”).
        • Iwork may immediately terminate this Agreement, or generally cease offering or deny access to the Iwork
        Platform or any portion thereof, at any time and without any reason.
        • Supplemental terms may apply to certain Services, such as policies for a particular event, loyalty programmes,
        activity or promotion. Such supplemental terms will be disclosed to you at the time of availability of such
        Services. Supplemental terms are in addition to, and shall be deemed a part of, this Agreement for the purposes
        of the applicable Services. Supplemental terms shall prevail over this Agreement in the event of a conflict with
        respect to the applicable Services.
        • Iwork may amend, restate or revise this Agreement, from time to time, without notice. Amendments, revisions
        and/or restatements, as the case may be, will be effective upon Iwork’s posting of an updated Agreement at this
        location or the amended policies or supplemental terms on the applicable Service. Your continued access or use
        of the Iwork Platform after such posting constitutes your consent to be bound by this Agreement, as amended or
        otherwise.
        2. The Iwork Platform
        • The Iwork Platform is solely a venue for communications. In this regard, the Iwork Platform is a
        communications platform for enabling the connection of individuals, or entities seeking to obtain Services
        and/or individuals seeking to provide Services by way of provision of, inter alia, Carpenters, Painters,
        Plumbers, Electricians, AC Technicians, Cleaners, Auto Mechanics, Appliance repair, Packers and Movers, Pest
        Control, Photography ("Taskers"). Those certain Services requested by the Users, which are to be completed by
        the Taskers, are hereinafter referred to as "Tasker Services".
        • Iwork does not itself provide Tasker Services. The provision of all Tasker Services is up to the Taskers,
        which may be scheduled through use of the Iwork Platform. Iwork, through the Iwork Platform, offers information
        and a method to obtain such Tasker Services, but does not provide such Tasker Services itself or act in any way
        as a service provider for purposes of Carpenters, Painters, Plumbers, Electricians, AC Technicians, Cleaners,
        Auto Mechanics, Appliance repair, Packers and Movers, Pest Control, Photography, and expressly disclaims any
        responsibility or liability for any Tasker Services provided to the User, including, but not limited to, a
        warranty or condition of good and workmanlike services.

        • Any decision by a User to make use of or accept Tasker Services is a decision made in such User’s sole
        discretion. Each Tasker Service provided by a Tasker to a User shall constitute a separate agreement between
        such persons.
        • Materials posted on the Iwork Platform are not intended to amount to advice on which reliance should be
        placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such
        materials by any visitor to the Iwork Platform, or by anyone who may be informed of any of its contents.
        • The User acknowledges that Iwork does not provide services or own any employee and that all such services are
        provided by independent third-party contractors who are not employed by Iwork.
        • We aim to update the Iwork Platform regularly and may change the content at any time. If the need arises, we
        may suspend access to the Iwork Platform and the Services or close them indefinitely. Any of the material on the
        Iwork Platform or the Services may be out of date at any given time, and we are under no obligation to update
        such material.
        3. License
        Subject to your compliance with this Agreement, Iwork grants you a limited, non-exclusive, non-sub-licensable,
        revocable, non-transferrable license to:
        • access and use the Iwork Platform on your personal device solely in connection with your use of the Iwork
        Platform; and
        • access and use any content, information and related materials that may be made available through the Iwork
        Platform, in each case solely for your personal, non-commercial use.
        • Any rights not expressly granted herein are reserved by Iwork and Iwork’s licensors.
        4. Third Party Services and Content
        • The Iwork Platform may be made available or accessed in connection with third party services and content
        (including, without limitation, advertising, third party contractors, call centers, financial institutions, or
        payment portals/gateways) that Iwork does not control. The User acknowledges that different terms of use and
        privacy policies may apply to the use of such third party services and content. Iwork does not endorse such
        third party services and content and in no event shall Iwork be responsible or liable for any products or
        services of such third party providers, including but not limited, to any loss or damage that may occur as a
        result of use thereof.
        • You also acknowledge that the Services may be made available under such brands or request options by or in
        connection with: (i) certain affiliates; or (ii) independent third party contractors.
        • It is at Iwork’s discretion which brands or request options are made available to you.
        5. Iwork Platform Ownership
        The Iwork Platform and all rights therein are and shall remain Iwork’s property. Neither this Agreement nor your
        use of the Iwork Platform convey or grant to you any rights:
        • in or related to the Iwork Platform except for the limited license granted above; and/or
        • to use or reference in any manner Iwork’s company names, logos and service names, trademarks, copyrights or
        services marks.
        6. Use of the Iwork Platform
        User Accounts
        • In order to use most aspects of the Iwork Platform, you must register for and maintain an active personal User
        account (“Account”).
        • Account registration requires you to submit to Iwork certain personal information, such as your name, address,
        mobile phone number, gender and age. You agree to maintain accurate, complete, and up-to-date information in
        your Account. Your failure to maintain accurate, complete, and up-to-date Account information may result in your
        inability to access and use the Iwork Platform, including your ability to request access to your personal
        information or to opt in or out of marketing preferences, or Iwork’s termination of this Agreement with you.
        • You agree to maintain the security and secrecy of your Account username and password at all times. You agree
        and understand that you are responsible for all activity that occurs under your Account, even as a result of
        loss, damage or theft of the device through which you access the Iwork Platform.
        • Unless otherwise permitted by Iwork in writing, you may only possess one Account.
        7. User Requirements and Conduct
        • You may not authorize third parties to use your Account.
        • You agree to comply with all applicable laws when using the Iwork Platform, and you may only use the Iwork
        Platform for lawful purposes.
        • You will not, in your use of the Iwork Platform, cause nuisance, annoyance, inconvenience, or property damage,
        whether to a Tasker and/or Iwork, other third party provider or any other party.
        • In certain instances, you may be asked to provide proof of identity to access or use the Iwork Platform, and
        you agree that you may be denied access to or use of the Iwork Platform if you refuse to provide proof of
        identity.
        • Failure to comply with the terms of this Agreement may result in our taking certain actions against you,
        including but not limited to:
        • immediate, temporary or permanent withdrawal of your right to use the Iwork Platform;
        • legal action against you including proceedings for recovery of damages and compensation together with
        reimbursement of all costs (including, but not limited to, reasonable administrative and legal costs) resulting
        from the breach;
        • disclosure of such information to law enforcement authorities as we feel is necessary; and/or
        • immediate, temporary or permanent removal of any posting or material uploaded by you to our Service.
        8. Promotions, Bundles, Credits and Referral Programs
        • Iwork, in its sole discretion, may make promotions available to any User or potential User via alpha numeric
        codes (“Promo Codes”). These promotions, unless made to you, shall have no bearing whatsoever on your Agreement
        or relationship with Iwork.
        • Iwork reserves the right to withhold or deduct credits or benefits obtained through a promotion in the event
        that Iwork determines or believes that the redemption of the promotion or receipt of the credit or benefit was
        in error, fraudulent, illegal, or in violation of the applicable promotion terms or this Agreement.
        • You agree that Promo Codes:
        • must be used for the intended audience and purpose, and in a lawful manner; may not be duplicated, sold or
        transferred in any manner, or made available to the general public (whether posted to a public form or
        otherwise), unless expressly permitted by Iwork;
        • may be disabled by Iwork, at any time, for any reason without liability to Iwork;
        • may only be used pursuant to the specific terms that Iwork establishes for such Promo Code;
        • are not valid for cash;

        • may expire prior to your use; and
        • Iwork may establish additional terms relating to specific promotions.
        • Iwork reserves the right to withhold or deduct credits or other features or benefits obtained through the use
        of Promo Codes by you or any other user in the event that Iwork determines or believes that the use or
        redemption of the Promo Code was in error, fraudulent, illegal, or in violation of the applicable Promo Code
        terms or this Agreement.
        • As part of your User account, Iwork may provide you with access to a feature in the Iwork application which
        may allow you to:
        • manage payment for Services;
        • add and store pre-paid credit balance (“Iwork Credit”); and/or
        • transfer Iwork Credit to or receive Iwork Credit from other Users, against payment of any applicable Iwork
        Fees (as defined below) and subject to any limits on the number of transfers or the amount of Iwork Credit you
        can send and/or receive, which Iwork Fees and limits may be modified by Iwork from time to time.
        • When transferring Iwork Credit balance to another User, the amount transferred and the applicable Iwork Fees
        (as defined below) (if any) will be deducted from your User account balance and will be transferred to the other
        User. Once the request for the transfer of Iwork Credit is completed, the transfer cannot be cancelled or
        otherwise reversed. You agree that in providing you with this feature, Iwork is merely enabling the transfer of
        Iwork Credit balance and is no way responsible for the actions of the individual Users, including the reason for
        which Iwork Credit is transferred by or to you.
        9. Communications
        • By becoming a User, you agree to receive communications, including but not limited to promotion and
        advertising material, from us, including via e-mail, text message, calls, and push notifications. You agree that
        texts, calls or pre-recorded messages may be generated by automatic telephone dialing systems.
        • Communications from Iwork, may include but are not limited to: operational communications concerning your
        Account or use of the Iwork Platform or Services, updates concerning new and existing features on the Iwork
        Platform, communications concerning promotions run by us or our third- party partners, and news concerning Iwork
        and industry developments.
        • Iwork may give notice by means of a general notice on the Iwork Platform, electronic mail to your email
        address in your Account. You may give notice to Iwork by written communication to Iwork's email address at
        info@iwork.pk.
        • If you no longer wish to receive promotional or marketing-related communications by text message or email,
        please contact info@iwork.pk.

        10. Charges and Payments
        • As a User, you agree to pay any amounts charged by Iwork (“Iwork Fee”) and amounts charged by Taskers for
        providing Services to you (“Charges”).
        • After you have received Services from a Tasker, Iwork:
        • may facilitate your payment of the applicable Charges on behalf of the Tasker as such Tasker’s limited payment
        collection agent; and
        • may collect any applicable Iwork Fee directly from you or otherwise as Iwork deems fit proper in its
        discretion.
        • Payment of the Charges and Iwork Fee in the above manner shall be considered the same as payment made directly
        by you to the Tasker or to Iwork, as applicable.
        • Charges and Iwork Fees will be inclusive of applicable taxes where required by law.
        • All Charges and Iwork Fees are due immediately and payment will be facilitated by Iwork using the preferred
        payment method designated in your Account, after which Iwork will send you a receipt by email.
        • If your primary account payment method is determined to be expired, invalid or otherwise not able to be
        charged, you agree that Iwork may, on its own behalf, and as the Tasker’s limited payment collection agent, use
        a secondary payment method in your Account, if available.
        • As between you and Iwork reserves the right to establish, remove and/or revise Iwork Fees at any time in
        Iwork’s sole discretion. Charges may also be varied or revised at any time without your consent.
        11. Cancellation charges
        Time until start of job Cancellation charges
        Over 2 hours; less than 24 hours No charges
        2 hours or less Rs. 300 charges
        12. 12 Refund
        For bookings of Services, with the payment made in advance, if the Tasker does not show up for the job or the
        booking is cancelled by Iwork or its Taskers for any reason, then the amount will be credited into the
        customer’s account and will be used and/or adjusted for the next booking of Services.

        13. Restricted Activities
        With respect to your use of the Iwork Platform and your participation in the Services, you agree that you will
        not:
        • impersonate any person or entity;
        • stalk, threaten, or otherwise harass any person, employee or affiliates of Iwork, and/or the Tasker;
        • interfere with or disrupt the Services or the Iwork Platform or the servers or networks connected to the Iwork
        Platform;
        • post information or interact on the Iwork Platform or with respect to Services in a manner which is false,
        inaccurate, misleading (directly or by omission or failure to update information), defamatory, libelous,
        abusive, obscene, profane, offensive, sexually oriented, threatening, harassing, or illegal;
        • use the Iwork Platform in any way that infringes any third party’s rights, including but not limited to:
        intellectual property rights, copyright, patent, trademark, trade secret or other proprietary rights or rights
        of publicity or privacy; and
        • post, email or otherwise transmit any malicious code, files or programs designed to interrupt, damage, destroy
        or limit the functionality of any computer software or hardware or telecommunications equipment or
        surreptitiously intercept or expropriate any system, data or personal information.

        14. Disclaimers; Limitation of Liability; Indemnity
        1. Disclaimers
        • THE IWORK PLATFORM AND SERVICES ARE PROVIDED “AS IS” AND “AS AVAILABLE.” IWORK DISCLAIMS ALL REPRESENTATIONS
        AND WARRANTIES, EXPRESS, IMPLIED OR STATUTORY, NOT EXPRESSLY SET OUT IN THIS AGREEMENT, INCLUDING THE IMPLIED
        WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN ADDITION, IWORK MAKES
        NO REPRESENTATION, WARRANTY, OR GUARANTEE REGARDING THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY OR
        AVAILABILITY OF THE IWORK PLATFORM, SERVICES OR ANY OTHER SERVICES REQUESTED THROUGH THE USE OF THE IWORK
        PLATFORM, OR THAT THE IWORK PLATFORM WILL BE UNINTERRUPTED OR ERROR-FREE. IWORK DOES NOT GUARANTEE THE QUALITY,
        SUITABILITY, SAFETY OR ABILITY OF IWORK. YOU AGREE THAT THE ENTIRE RISK AND RESPONSIBILITY (INCLUDING THAT OF
        YOUR PERSONAL SAFETY AND OF YOUR PROPERTY) ARISING OUT OF YOUR USE OF THE IWORK PLATFORM AND SERVICES, AND ANY
        SERVICE REQUESTED IN CONNECTION THEREWITH, REMAINS SOLELY WITH YOU, TO THE MAXIMUM EXTENT PERMITTED UNDER
        APPLICABLE LAW.
        • Iwork is not responsible for the conduct, whether online or offline, of any User, Tasker or any other third
        party. You are encouraged to use a reasonable degree of sensibility and caution when interacting with other
        Users, Taskers or any other third party.
        • We are not required to procure insurance for, nor are we responsible for private belongings, including the
        loss of private belongings as a result of theft or snatching at your place. By using the Iwork Platform and
        participating in the Services, you agree to accept such risks and agree that Iwork is not responsible for the
        acts or omissions of Users, Taskers or any other third party.
        • Iwork expressly disclaims any liability arising from the unauthorized use of your Account. Should you suspect
        that any unauthorized party may be using your Account, or you suspect any other breach of security, you agree to
        notify us immediately.
        • Location data provided by the Iwork Platform is for basic location purposes only and is not intended to be
        relied upon in situations where precise location information is needed or where erroneous, inaccurate or
        incomplete location data may lead to death, personal injury, property or environmental damage. Neither Iwork,
        nor any of its content providers, guarantees the availability, accuracy, completeness, reliability, or
        timeliness of location data tracked or displayed by the Iwork Platform. Any of your information, including
        geolocational data, you upload, provide, or post on the Iwork Platform may be accessible to Iwork, selected
        partners and relevant Taskers.
        While Iwork takes every care to ensure that it maintains a clean and hygienic work environment to counter the
        risk of spread of an illness, disease, virus, bacteria and the like, however given the nature of any illness,
        disease, virus, bacteria and the like Iwork cannot guarantee complete safety against any illness, disease,
        virus, bacteria and Users are cautioned to take any or all precautions and care to protect their health and
        safety at all times in relation to which Iwork shall not be held liable for any cost, loss or suffering caused
        to a User in this regard.
        2. Limitation of liability
        • IWORK SHALL NOT BE LIABLE FOR INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES,
        INCLUDING LOSS OF PROFITS, LOST DATA, PERSONAL INJURY OR PROPERTY DAMAGE RELATED TO, IN CONNECTION WITH, OR
        OTHERWISE RESULTING FROM ANY USE OF THE IWORK PLATFORM OR SERVICES, EVEN IF IWORK HAS BEEN ADVISED OF THE
        POSSIBILITY OF SUCH DAMAGES. IWORK SHALL NOT BE LIABLE FOR ANY DAMAGES, LIABILITY OR LOSSES ARISING OUT OF:
        • YOUR USE OF, OR RELIANCE ON, THE IWORK PLATFORM OR THE SERVICES OR YOUR INABILITY TO ACCESS OR USE THE IWORK
        PLATFORM OR THE SERVICES; OR
        • ANY TRANSACTION OR RELATIONSHIP BETWEEN YOU AND ANY TASKER OR OTHER THIRD PARTY PROVIDER, EVEN IF IWORK HAS
        BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IWORK SHALL NOT BE LIABLE FOR DELAY OR FAILURE IN PERFORMANCE
        RESULTING FROM CAUSES BEYOND OUR REASONABLE CONTROL.
        • By using the Iwork Platform, the User agrees to hold Iwork free from the responsibility for any liability or
        damage that might arise out of the Tasker Services and/or any act or omission (whether willful or negligent) of
        the Tasker.
        • The User understands and acknowledges that Iwork is not responsible for the conduct, whether online or
        offline, of any Tasker, and will not be liable to the User or otherwise for any claim, injury or damage for loss
        of property or damage thereto arising in connection with any Tasker Services and/or use of the Iwork Platform.
        • Indemnity
        You agree to indemnify and hold Iwork and their officers, directors, employees and agents harmless from any and
        all claims, demands, losses, liabilities, and expenses (including attorneys’ fees) arising out of or in
        connection with:
        • your use of the Iwork Platform and the Services or services or goods obtained through your use of the Iwork
        Platform;
        • your breach or violation of this Agreement; or
        • your violation of the rights of any third party, including Taskers.
        15. Miscellaneous Provisions
        1. Choice of Law
        This Agreement is governed by and construed in accordance with the laws of the Pakistan.
        2. Break
        We request customers to give the Taskers a 15 minute after every 2 hours of work. This will ensure that our
        Taskers can continue to work effectively. The total booking time includes any Tasker breaks the customer
        provides.
        3. General
        • You may not assign or transfer your rights under this Agreement in whole or in part without Iwork’s prior
        written approval.
        • You give your approval to Iwork for it to assign or transfer its rights and obligations under this Agreement
        in whole or in part, including to:
        • a subsidiary or affiliate;
        • an acquirer of Iwork ’s equity, business or assets; or
        • a successor by merger. No joint venture, partnership, employment or agency relationship exists between you,
        Iwork or any Tasker as a result of the contract between you and Iwork or use of the Iwork Platform.
        • If any provision of this Agreement is held to be illegal, invalid or unenforceable, in whole or in part, under
        any law, such provision or part thereof shall to that extent be deemed not to form part of this Agreement but
        the legality, validity and enforceability of the other provisions in this Agreement shall not be affected. In
        that event, the parties shall replace the illegal, invalid or unenforceable provision or part thereof with a
        provision or part thereof that is legal, valid and enforceable and that has, to the greatest extent possible, a
        similar effect as the illegal, invalid or unenforceable provision or part thereof, given the contents and
        purpose of this Agreement.
        • This Agreement constitutes the entire agreement and understanding of the parties with respect to its subject
        matter and replaces and supersedes all prior or contemporaneous agreements or undertakings regarding such
        subject matter.



        info@iwork.pk

    </div>
</div>
<br><br>
<app-footer></app-footer>